/* ==========================================================================
   Vars
   ========================================================================== */

$headerheightdesktop: 154px;
$headerheighttablet: 77px;
$headerheightmobile: 77px;

/* ==========================================================================
   Queries
   ========================================================================== */

$thin: 600px;
$medium: 960px;
$wide: 1200px;

@mixin mobile {
    @media (max-width: #{$thin}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$thin}) and (max-width: #{$medium}) {
        @content;
    }
}

@mixin notdesktop {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$wide}) {
        @content;
    }
}

@import 'defaults';
@import 'layout/testimonial-grid.scss';
@import 'layout/testimonial-slider.scss';